.front {
	background: asset_url('bg.png');
	background-size: cover;
	height: 100%;

	.logo {
		img {
			margin: 0 auto;
			display: block;
			padding: 80px 0 40px;
		}
	}

	.large-8.container.clearfix {
		margin: 40px auto 20px;
		text-align: center;

		.icons {
			padding: 20px 0;
			background: red;
			margin: 5px;
			min-height: 169px;
			width: 32.2%;
			label {
				font-size: 25px;
				color: #FFF;
			}
		}

		.tourism {
			background: #67C3AE;
			border-radius: 10px;
		}

		.healthcare {
			background: #DB1931;
			border-radius: 10px;
		}

		.education {
			background: #78C1DD;
			border-radius: 10px;
		}

		.disaster {
			background: #F79323;
			border-radius: 10px;
		}

		.employment {
			background: #4E666A;
			border-radius: 10px;
		}
	}

	.login {
		margin: 0 auto;

		input {
			background: none repeat scroll 0 0 rgba(255, 255, 255, 0.38);
		    border: 4px solid #fff;
		    border-radius: 10px;
		    color: #fff;
		    font-size: 20px;
		    height: 60px;
		}

		input[type="submit"] {
		    background: none repeat scroll 0 0 #49708a !important;
		    border: 2px solid !important;
		    border-radius: 0 !important;
		    display: block;
		    margin: 15px auto;
		    width: 200px;
		}
	}
}

.dashboard {
	.sidebar {
		height: 100%;
		background: #444444;
		padding: 0;

		.logo {
			padding: 50px;
		}

		.department {
			text-align: center;
			background: #DB1931;
			padding: 30px;

			label {
				font-size: 25px;
				color: #FFF;
			}
		}

		ul {
			list-style: none;
			margin: 0;
			li {
				padding: 14px;
				border-bottom: 1px solid #222222;
				a {
					color: #BECCD6;
				}
			}
		}
	}

	.main {
		.header {
			.right {
				font-size: 20px;
				padding: 23px;
				position: relative;
				a {
					&.logout {
						position: absolute;
						right: 25px;
						display: none;
					}
				}
			}
		}
	}
}